
  .first-panel > div.control {
    padding-right: 20px;
  }
  .icon.burger {
    font-size: 26px;
  }
  .will-removed {
    display: none;
  }
  .third-panel__tab {
    flex: 1;
    text-align: center;
  }
  .control-panel__segment-icon {
    font-size: 25px;
    font-family: Inter-Bold;
  }



 .fixed-table-max .table__row-item[tooltip]:hover::after {
    content: none;
    display: none;
    border-bottom: none;
  }
  .fixed-table-max div.table.vacancies{
    padding-left: 10px;
    padding-right: 10px;
  }
  .fixed-table-max .medium-screen-size__table-name {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .fixed-table-max div.control {
    display: flex;
    padding-left: 18px;
    padding-right: 50px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    justify-content: end;
  }
  .fixed-table-max .mobile-control__menu-button {
    display: flex;
    width: 100%;
    background-color: var(--blue);
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
  }
  .fixed-table-max .mobile-control__menu-button > * {
    color: inherit;
    font-size: inherit;
  }
  .fixed-table-max .mobile-control__menu-button > span {
    font-size: 24px;
    cursor: pointer;
  }


  .fixed-table-max p.date {
    text-align: start;
  }

  .fixed-table-max div.mobile-tab {
    margin-top: 10px;
    background-color: white;
  }


  .fixed-table-max .mobile-control.control > * {
    font-size: 22px;
    color: #414f51;
  }
  .fixed-table-max div.title-wrapper {
    display: none;
  }
  .fixed-table-max .mobile-wrapper__input {
    display: flex;
    margin-top: 20px;
  }
  .fixed-table-max p.date {
    background-color: rgb(245, 245, 245);
    padding: 10px 15px 10px 15px;
  }
  .fixed-table-max .table-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .fixed-table-max .caption {
    color: gray;
  }
  .fixed-table-max .mobile-wrapper-table {
    display: none;
  }
  .fixed-table-max .mobile-wrapper__row {
    display: inherit;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .fixed-table-max .mobile-wrapper__row-extra-content {
    padding-left: 5px;
  }
  .fixed-table-max .mobile-wrapper__row:not(.mobile-wrapper__row-vacancy-name) {
    border-bottom: 1px solid lightgray;
  }
  .fixed-table-max .mobile-wrapper__row-extra-content {
    display: inherit;
  }
  .fixed-table-max .table.vacancies {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .fixed-table-max .table__row-item {
    overflow: hidden;
    font-size: 18px;
    height: 100%;
    border: none;
  }
  .fixed-table-max .table__row-item:not(.non-border) {
    border-left: 1px solid lightgray;
  }

  .fixed-table-max .mobile-wrapper__row-edit {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-left: 0px;
  }
  .fixed-table-max .row-wrapper:hover > div > div.selectable {
    background-color: initial;
  }
  .fixed-table-max .row-wrapper:hover > div > div > span.control-edit {
    color: var(--light-blue);
  }
  .fixed-table-max .icon.control-edit.delete:hover {
    color: rgb(66, 66, 216);
  }
  .fixed-table-max .mobile-wrapper__row-edit > div {
    flex: 1;
  }
  .fixed-table-max .mobile-wrapper__row-vacancy-name {
    grid-area: vacancy-name;
    background-color: #67d6ef;
    min-height: 50px;
    margin: 0;
  }
  .fixed-table-max .table__row-item-vacancy-name {
    grid-column-start: span 2;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fixed-table-max p.table__row-item-vacancy-name-text {
    color: white;
  }
  .fixed-table-max p.source {
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fixed-table-max .mobile-wrapper__row-id {
    grid-area: id;
  }
  .fixed-table-max  .mobile-wrapper__row {
    display: grid;
    grid-template-columns: 115px 1fr;
  }
  .fixed-table-max .mobile-wrapper__row-number {
    grid-area: number;
    grid-template-columns: 115px 1fr;
    margin-right: 0;
  }
  .fixed-table-max  .mobile-wrapper__row-edit {
    grid-area: edit;
  }
  .fixed-table-max .mobile-wrapper__row-source {
    grid-area: source;
  }
  .fixed-table-max .mobile-wrapper__row-date {
    grid-area: date;
  }
  .fixed-table-max .mobile-wrapper__row-frequency{
    grid-area: frq;
  }
  .fixed-table-max .row-wrapper {
    grid-auto-rows: minmax(50px, auto);
    display: grid;
    grid-template-areas:
      "vacancy-name vacancy-name vacancy-name vacancy-name"
      "number number number edit"
      "id id id id"
      "source source source source"
      "date date date date"
      "frq frq frq frq"
    /* "edit edit"; */
  }

  .fixed-table-max .row {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    height: auto;
  }
  .fixed-table-max #second_specifier {
    display: none;
  }
  .fixed-table-max *[tooltip]:hover::after {
    width: fit-content;
  }
  .fixed-table-max .mobile-wrapper__row-extra-content{
    font-size: 18px;
  }




  .fixed-table .mobile-tab {
    display: none;
  }
  .fixed-table .panels {
    display: flex;
  }
  .fixed-table .first-panel {
    display: flex;
  }
  .fixed-table div.control,
  .fixed-table div.first-panel {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .fixed-table .icon {
    justify-self: center;
  }

  .fixed-table .table__row-item-vacancy-name {
    width: 100%;
  }
  .fixed-table .table__row-item {
    box-sizing: border-box;
  }
  .fixed-table input {
    height: 50px;
    box-sizing: border-box;
  }
  .fixed-table .table__row-item{
    font-size: 18px;
  }

  .fixed-mobile-min .mobile-wrapper__row {
    display: grid;
    grid-template-columns: 115px 1fr;
  }
  .fixed-mobile-min .mobile-wrapper__row-number {
    grid-area: number;
    grid-template-columns: 115px 1fr;
  }
  .fixed-mobile-min .table__row-item > p {
    font-size: 18px;
  }

 .fixed-mobile-min .mobile-wrapper__row-extra-content {
    font-size: 18px;
  }

